.navbar-mymedium {
  justify-content: space-between;
  background: white;
}

.navbar-mymedium .navbar-collapse {
  flex-grow: 0;
}

.navbar-mymedium .navbar-brand img {
  width: 120px;
}

.nav-item .btn-nav {
  margin-right: 1rem;
}
